# **üíÅüèªüó®Ô∏èüíÅüèª‚Äç‚ôÇÔ∏èÏïàÍ∞ú ÏòàÏ∏° EDA code**
> **ÏïàÍ∞úÎüâ ÏòàÏ∏°** Í≤ΩÏßÑÎåÄÌöåÏóê Ïò§Ïã† Ïó¨Îü¨Î∂Ñ ÌôòÏòÅÌï©ÎãàÎã§! üéâ    
> Î≥∏ ÎåÄÌöåÏóêÏÑúÎäî ÏµúÎåÄ 10Î™ÖÏù¥ Ï∞∏Ïó¨Ìï† Ïàò ÏûàÎäî Í∏∞ÏÉÅÏ≤≠ Ï£ºÍ¥Ä ÎÇ†Ïî® ÎπÖÎç∞Ïù¥ÌÑ∞ Í≤ΩÏßÑÎåÄÌöå ÏûÖÎãàÎã§.     
> Ï£ºÏñ¥ÏßÑ Îç∞Ïù¥ÌÑ∞Î•º ÌôúÏö©ÌïòÏó¨ ÏïàÍ∞ú ÏÉÅÌÉúÏùò Íµ¨Í∞ÑÏùÑ ÏòàÏ∏°Ìï† Ïàò ÏûàÎäî Î™®Îç∏ÏùÑ ÎßåÎìúÎäî Í≤ÉÏù¥ Î™©ÌëúÏûÖÎãàÎã§!

# Contents  
  
- ÌïÑÏöîÌïú ÎùºÏù¥Î∏åÎü¨Î¶¨ ÏÑ§Ïπò  
- Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞  
- Ï∂îÍ∞ÄÏ†ÅÏù∏ ÌååÏÉùÎ≥ÄÏàò Í∞ÄÏ†∏Ïò§Í∏∞

### 1. ÌïÑÏöîÌïú ÎùºÏù¥Î∏åÎü¨Î¶¨ ÏÑ§Ïπò

- ÌïÑÏöîÌïú ÎùºÏù¥Î∏åÎü¨Î¶¨Î•º ÏÑ§ÏπòÌïú ÌõÑ Î∂àÎü¨ÏòµÎãàÎã§.

In [41]:
# basic
import os, random
import pandas as pd
import numpy as np

# graph
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go

# Í≤ΩÍ≥† Î¨¥Ïãú
import warnings
warnings.filterwarnings('ignore')

# Ìè∞Ìä∏
plt.rcParams['font.family'] = 'NanumSquare'

# ÎßàÏù¥ÎÑàÏä§ Ï∂úÎ†•
matplotlib.rcParams['axes.unicode_minus'] = False

In [42]:
# random seed Í≥†Ï†ïÌïòÍ∏∞
def seed_everything(seed):
    random.seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)

seed_everything(42) # Seed Í≥†Ï†ï

### 2. Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
- Ï†úÍ≥µÎêú Îç∞Ïù¥ÌÑ∞Î•º Î∂àÎü¨ÏòµÎãàÎã§.

> - year : ÎÖÑÎèÑ
> - month : Ïõî
> - day : Ïùº
> - hour : ÏãúÍ∞Ñ
> - minute : Î∂Ñ(10Î∂Ñ Îã®ÏúÑ)
> - stn_id : ÏßÄÏ†ê Î≤àÌò∏
> - ws10_deg : 10Î∂Ñ ÌèâÍ∑† ÌíçÌñ•, deg
> - ws10_ms : 10Î∂Ñ ÌèâÍ∑† ÌíçÏÜç, m/s
> - ta : 1Î∂Ñ ÌèâÍ∑† Í∏∞Ïò® 10Î∂Ñ Ï£ºÍ∏∞, ÏÑ≠Ïî®
> - re : Í∞ïÏàò Ïú†Î¨¥ 0:Î¨¥Í∞ïÏàò, 1:Í∞ïÏàò
> - hm : 1Î∂Ñ ÌèâÍ∑† ÏÉÅÎåÄ ÏäµÎèÑ 10Î∂Ñ Ï£ºÍ∏∞, %
> - sun10 : 1Î∂Ñ ÏùºÏÇ¨Îüâ 10Î∂Ñ Îã®ÏúÑ Ìï©Í≥Ñ, MJ
> - ts : 1Î∂Ñ ÌèâÍ∑† ÏßÄÎ©¥Ïò®ÎèÑ 10Î∂Ñ Ï£ºÍ∏∞, ÏÑ≠Ïî®

- test ÏóÜÎäî Îç∞Ïù¥ÌÑ∞ Í∞í
> - vis1 : 1Î∂Ñ ÌèâÍ∑† ÏãúÏ†ï 10Î∂Ñ Ï£ºÍ∏∞, m
> - class : ÏãúÏ†ï Íµ¨Í∞Ñ

ÏãúÏ†ï Íµ¨Í∞ÑÏùÄ Îã§ÏùåÍ≥º Í∞ôÎã§.
- 0Ï¥àÍ≥º 200ÎØ∏Îßå : 1
- 200Ïù¥ÏÉÅ 500ÎØ∏Îßå : 2
- 500Ïù¥ÏÉÅ 1000ÎØ∏Îßå : 3
- 1000Ïù¥ÏÉÅ : 4
- 4Î≤àÏùÄ ÎßûÏ∂∞ÎèÑ Ïä§ÏΩîÏñ¥Í∞Ä Ï¶ùÍ∞ÄÌïòÏßÑ ÏïäÏßÄÎßå ÌãÄÎ¶¨Î©¥ Í∞êÏ†ê

In [43]:
# load makes data
train_knn = pd.read_csv('../data/train_knnimputer.csv')
test_knn = pd.read_csv('../data/test_knnimputer.csv')

### 3. Ï∂îÍ∞Ä ÌååÏÉùÎ≥ÄÏàò

#### 3-1) ÏãúÍ∞ÑÏ†Å ÏÇ¨Ïù¥ÌÅ¥

- Í≥ÑÏ†àÏóê Îî∞Î•∏ Ï∞®Ïù¥Í∞Ä Ï°¥Ïû¨Ìï† Ïàò ÏûàÍ∏∞ ÎïåÎ¨∏Ïóê Í≥ÑÏ†àÏóê Í¥ÄÌïú ÏÇ¨Ïù¥ÌÅ¥ÏùÑ ÎßåÎì§Ïñ¥ Ï£ºÎèÑÎ°ù ÌïòÏûê
- ÌïòÎ£® Îã®ÏúÑÎ°ú Ïò®ÎèÑÏùò Î≥ÄÌôîÍ∞Ä Ï°¥Ïû¨ÌïòÍ∏∞ ÎïåÎ¨∏Ïóê Ïù¥Î•º ÌïôÏäµÏãúÌÇ§Í∏∞ ÏúÑÌï¥ ÌïòÎ£® Îã®ÏúÑÎ•º Î≥ÄÌôîÌïòÎèÑÎ°ù ÌïòÏûê

In [44]:
# ÏãúÍ∞Ñ ÏÇ¨Ïù¥ÌÅ¥ Î≥ÄÏàò
train_knn['sin_time'] = np.sin(2 * np.pi * train_knn['time'] / 24)
train_knn['cos_time'] = np.cos(2 * np.pi * train_knn['time'] / 24)

test_knn['sin_time'] = np.sin(2 * np.pi * test_knn['time'] / 24)
test_knn['cos_time'] = np.cos(2 * np.pi * test_knn['time'] / 24)

In [45]:
# Í≥ÑÏ†à ÏÇ¨Ïù¥ÌÅ¥ Î≥ÄÏàò - ÏõîÎ≥Ñ Ï£ºÍ∏∞
train_knn['sin_month'] = np.sin(2 * np.pi * train_knn['month'] / 12)
train_knn['cos_month'] = np.cos(2 * np.pi * train_knn['month'] / 12)

test_knn['sin_month'] = np.sin(2 * np.pi * test_knn['month'] / 12)
test_knn['cos_month'] = np.cos(2 * np.pi * test_knn['month'] / 12)

#### 3-2) Ïù¥ÏÉÅÏπò ÎåÄÏπò

- ÌÅ¥ÎûòÏä§Í∞Ä Îæ∞Ï°±ÌïòÍ≤å 4 -> 1 -> 4 ÏôÄ Í∞ôÏù¥ Î∂ÑÌè¨ÌïòÍ≥† ÏûàÎäî Í≤ÉÎì§Ïù¥ Î™áÍ∞ú ÏûàÎã§.
- Ïù¥Î•º Î≥¥ÏôÑÌïòÍ∏∞ ÏúÑÌï¥ Îã§ÏùåÍ≥º Í∞ôÏùÄ Í≥ºÏ†ïÏùÑ ÏßÑÌñâÌïúÎã§.
- Îã®, 1000 Ïù¥ÌïòÎ•º Ï§ëÏã¨ÏúºÎ°ú ÎßûÏ∂∞ÏïºÌïòÎäî ÎåÄÌöåÏù¥Í∏∞ ÎïåÎ¨∏Ïóê classÎ•º Í∏∞Ï§ÄÏúºÎ°ú Ï†ÅÏö©ÌïòÏòÄÎã§.

In [46]:
# ÏßÄÏó≠Î≥ÑÎ°ú Îî∞Î°úÎî∞Î°ú Ï†ÅÏö©ÌïòÏûê.
for c in train_knn['stn_id'].unique():

    # ÏßÄÏó≠Î≥ÑÎ°ú ÏûòÎùºÏÑú Ïù¥ÏÉÅÏπò -> Í≤∞Ï∏°Ïπò ÎßåÎì§Í∏∞
    tmp = train_knn[train_knn['stn_id'] == c]

    # lag ÎßåÎì§Ïñ¥ÏÑú ÏßÄÎÇúÎ≤à  class ÌôïÏù∏ÌïòÍ∏∞
    tmp['shift_left_class'] = tmp['class'].shift(1)

    # Ïù¥Ï†ÑÍ≥ºÏùò Ï∞®Ïù¥ Íµ¨ÌïòÍ∏∞
    tmp['diff_left_class'] = tmp['class'] - tmp['shift_left_class']

    # lag ÎßåÎì§Ïñ¥ÏÑú Ïù¥Îã§Ïùå class ÌôïÏù∏ÌïòÍ∏∞
    tmp['shift_right_class'] = tmp['class'].shift(-1)

    # Ïù¥Îã§ÏùåÍ≥ºÏùò Ï∞®Ïù¥ Íµ¨ÌïòÍ∏∞
    tmp['diff_right_class'] = tmp['class'] - tmp['shift_right_class']

    # Ïù∏Îç±Ïä§ ÎΩëÍ∏∞
    idx = tmp[(abs(tmp['diff_left_class']) >= 2) & (abs(tmp['diff_right_class']) >= 2)].index

    # Ïù∏Îç±Ïä§ Ï§ë Í∞ÄÎßåÌûà Îë¨ÏïºÌï† Ïù∏Îç±Ïä§ Ï†úÏô∏
    new_idx = []
    for i in idx:
        if i-1 not in idx:
            new_idx.append(i)

    # Ïù∏Îç±Ïä§Î°ú Ï≤òÎ¶¨
    new_idx = pd.Index(new_idx)

    # Îæ∞Ï°±Ìïú Îç∞Ïù¥ÌÑ∞ Í≤∞Ï∏°ÏπòÎ°ú Ï≤òÎ¶¨ÌïòÍ∏∞
    train_knn['class'].iloc[new_idx] = tmp['shift_left_class'][new_idx]
    train_knn['vis1'].iloc[new_idx] = train_knn['vis1'][new_idx-1]

#### 3-3) Ïù¥Ïä¨Ï†ê Ïò®ÎèÑ

- ÏïàÍ∞ú ÏÉùÍ∏∞Îäî Í∏∞Ï§ÄÏ†êÏùÑ ÎØ∏Î¶¨ ÎßåÎì§Ïñ¥ÎëêÏûê
- Ïù¥Ïä¨Ï†êÏùÄ ÏßÄÎ©¥Ïò®ÎèÑÏôÄ Í∏∞Ïò®ÏùÑ Í≥†Î†§ÌñàÏùÑ Îïå ÏïàÍ∞úÍ∞Ä ÏÉùÏÑ±ÎêòÍ≤å ÌïòÎäî Í∞ÄÏû• Ï¢ãÏùÄ Í∏∞Ï§ÄÏ†êÏù¥Îã§.

In [47]:
# ÏäµÎèÑÍ∞Ä 0Ïù∏ Í∞í ÏàòÎèôÏúºÎ°ú Ï±ÑÏõåÏ£ºÍ∏∞
train_knn['hm'][2893505] = 66.3

In [48]:
# Magnus Í≥µÏãù ÏÉÅÏàò
a = 17.27
b = 237.7

# ÏïåÌåå Í∞í Í≥ÑÏÇ∞
train_knn['alpha'] = (a * train_knn['ta']) / (b + train_knn['ta']) + np.log(train_knn['hm'] / 100.0)
test_knn['alpha'] = (a * test_knn['ta']) / (b + test_knn['ta']) + np.log(test_knn['hm'] / 100.0)

# Ïù¥Ïä¨Ï†êÏò®ÎèÑ Í≥ÑÏÇ∞
train_knn['dew_point'] = (b * train_knn['alpha']) / (a - train_knn['alpha'])
test_knn['dew_point'] = (b * test_knn['alpha']) / (a - test_knn['alpha'])

#### 3-4) ÏïàÍ∞ú Î∞úÏÉù Ï°∞Í±¥

- Îã§Ïùå ÏÉùÏÑ±Ìï† Î≥ÄÏàòÎäî ÏÑ∏Í∞ÄÏßÄ ÏòÅÏó≠ÏúºÎ°ú ÎÇòÎà†ÏÑú ÌòïÏÑ±Ìï† Í≤ÉÏù¥Îã§.

> 1. ÏïàÍ∞ú ÏÉùÏÑ± Ï°∞Í±¥: ÏßÄÏó≠Î≥ÑÎ°ú ÏÉùÏÑ±ÎêòÎäî Ï°∞Í±¥Ïù¥ ÏÉÅÏù¥ÌïòÍ∏∞ ÎïåÎ¨∏Ïóê ÏïàÍ∞úÎ≥ÑÎ°ú Ï°∞Í±¥ÏùÑ Îã¨Î¶¨ÌïòÏó¨ Ï†ÅÏö©Ìï† Í≤ÉÏù¥Îã§.
> 2. ÏïàÍ∞ú ÏßÄÏÜç Ï°∞Í±¥: ÏñºÎßàÎÇò ÏßÄÏÜçÎê†ÏßÄ, Ïñ∏Ï†úÍπåÏßÄ ÏßÄÏÜçÎêòÎäî Ï°∞Í±¥Ïù∏ÏßÄÏóê Îî∞Îùº Í≥ÑÏÜçÌï¥ÏÑú Î∞úÏÉùÌïòÍ≥† ÏûàÏùÑ Ïàò ÏûàÍ∏∞ ÎïåÎ¨∏Ïóê Ï†ÅÏö©ÌïúÎã§. Ï°∞Í±¥Ïù¥ Í∞ôÍ∏∞ ÎïåÎ¨∏Ïóê ÌÜµÏùºÎêú Î≥ÄÏàòÎ°ú Ï†úÏûëÌïúÎã§.
> 3. ÏïàÍ∞ú ÏßôÏñ¥Ïßê Ï°∞Í±¥: ÎßàÏ∞¨Í∞ÄÏßÄÎ°ú Ï°∞Í±¥ÏùÄ Í±∞Ïùò ÎèôÏùºÌïòÎã§ Î≥¥Î©¥ ÎêúÎã§. 

- ÏïàÍ∞ú Ï¢ÖÎ•òÏóê Îî∞Î•∏ ÏßÄÌòï
    - Î≥µÏÇ¨
    - Ïù¥Î•ò
    - ÌôúÏäπ
    - Ï¶ùÎ∞ú

In [49]:
# Ïò®ÎèÑÏ°∞Í±¥ ÎØ∏Î¶¨ Í≥ÑÏÇ∞ÌïòÍ∏∞
train_knn['diff_air-dew'] = train_knn['ta'] - train_knn['dew_point']
train_knn['diff_ts-dew'] = train_knn['ts'] - train_knn['dew_point']

test_knn['diff_air-dew'] = test_knn['ta'] - test_knn['dew_point']
test_knn['diff_ts-dew'] = test_knn['ts'] - test_knn['dew_point']

In [50]:
train_knn[(train_knn['re'] == 1) & (train_knn['class'] < 4)]

,class,day,hm,minute,month,re,stn_id,sun10,ta,time,...,hour,DateTime,alpha,dew_point,sin_time,cos_time,sin_month,cos_month,diff_air-dew,diff_ts-dew
2648,3,19.0,80.7,30.0,1.0,1,AA,0.00,1.0,9.0,...,9.0,2020-01-19 09:30,-0.142081,-1.939616,7.071068e-01,-0.707107,0.500000,8.660254e-01,2.939616,1.639616
6168,3,12.0,95.1,10.0,2.0,1,AA,0.00,8.1,20.0,...,20.0,2020-02-12 20:10,0.518868,7.362779,-8.660254e-01,0.500000,0.866025,5.000000e-01,0.737221,-0.562779
6611,3,15.0,93.4,0.0,2.0,1,AA,0.00,7.5,22.0,...,22.0,2020-02-15 22:00,0.459963,6.504049,-5.000000e-01,0.866025,0.866025,5.000000e-01,0.995951,0.795951
6699,3,16.0,88.1,40.0,2.0,1,AA,0.02,-1.7,12.0,...,12.0,2020-02-16 12:40,-0.251100,-3.406551,1.224647e-16,-1.000000,0.866025,5.000000e-01,1.706551,5.506551
12397,3,27.0,96.2,20.0,3.0,1,AA,0.00,13.6,2.0,...,2.0,2020-03-27 02:20,0.895887,13.005429,5.000000e-01,0.866025,1.000000,6.123234e-17,0.594571,-0.205429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3139634,2,6.0,91.7,50.0,9.0,1,EC,0.00,24.3,3.0,...,3.0,2022-09-06 03:50,1.515112,22.859068,7.071068e-01,0.707107,-1.000000,-1.836970e-16,1.440932,0.340932
3149425,3,13.0,96.7,40.0,11.0,1,EC,0.00,18.6,3.0,...,3.0,2022-11-13 03:40,1.219748,18.064145,7.071068e-01,0.707107,-0.500000,8.660254e-01,0.535855,0.135855
3149426,2,13.0,96.8,50.0,11.0,1,EC,0.00,18.5,3.0,...,3.0,2022-11-13 03:50,1.214530,17.981022,7.071068e-01,0.707107,-0.500000,8.660254e-01,0.518978,0.218978
3149427,2,13.0,96.8,0.0,11.0,1,EC,0.00,18.7,4.0,...,4.0,2022-11-13 04:00,1.227028,18.180212,8.660254e-01,0.500000,-0.500000,8.660254e-01,0.519788,-0.080212
3151652,3,28.0,90.4,50.0,11.0,1,EC,0.01,18.0,14.0,...,14.0,2022-11-28 14:50,1.114796,16.402573,-5.000000e-01,-0.866025,-0.500000,8.660254e-01,1.597427,0.697427

Î≥µÏÇ¨ÏïàÍ∞ú

In [51]:
# ÏïàÍ∞ú ÏÉùÏÑ± Ï°∞Í±¥ 1. Î≥µÏÇ¨ÏïàÍ∞ú
# train
cri = [
    (train_knn['ground'].isin(['A', 'B'])) & # ÎÇ¥Î•ôÏÇ∞Í∞ÑÏßÄÎ∞©
    (train_knn['diff_ts-dew'] <= 2) & # ÏßÄÎ©¥Ïò®ÎèÑÏôÄ Ïù¥Ïä¨Ï†êÏùò Ï∞®Ïù¥Í∞Ä 2Ïù¥Ìïò
    (train_knn['hm'] >= 85) & # ÏäµÎèÑ 85% Ïù¥ÏÉÅ
    (train_knn['ws10_ms'] <= 2.5) & # ÌíçÏÜç 2.5m/s Ïù¥Ìïò
    (train_knn['re'] == 0) & # Í∞ïÏàò ÏóÜÏùå
    (train_knn['sun10'] == 0) & # ÏùºÏÇ¨ ÏóÜÏùå
    (train_knn['month'].isin([9, 10, 11, 12, 1, 2, 3])) # Í∞ÄÏùÑ, Í≤®Ïö∏, Ïï†Îß§Ìïú3Ïõî
]

con = [
    1
]

train_knn['make_copyfog'] = np.select(cri, con, default = 0)

In [52]:
# ÏïàÍ∞ú ÏÉùÏÑ± Ï°∞Í±¥ 1. Î≥µÏÇ¨ÏïàÍ∞ú
# test
cri = [
    (test_knn['ground'].isin(['A', 'B'])) & # ÎÇ¥Î•ôÏÇ∞Í∞ÑÏßÄÎ∞©
    (test_knn['diff_ts-dew'] <= 2) & # ÏßÄÎ©¥Ïò®ÎèÑÏôÄ Ïù¥Ïä¨Ï†êÏùò Ï∞®Ïù¥Í∞Ä 2Ïù¥Ìïò
    (test_knn['hm'] >= 85) & # ÏäµÎèÑ 85% Ïù¥ÏÉÅ
    (test_knn['ws10_ms'] <= 2.5) & # ÌíçÏÜç 2.5m/s Ïù¥Ìïò
    (test_knn['re'] == 0) & # Í∞ïÏàò ÏóÜÏùå
    (test_knn['sun10'] == 0) & # ÏùºÏÇ¨ ÏóÜÏùå
    (test_knn['month'].isin([9, 10, 11, 12, 1, 2, 3])) # Í∞ÄÏùÑ, Í≤®Ïö∏, Ïï†Îß§Ìïú3Ïõî
]

con = [
    1
]

test_knn['make_copyfog'] = np.select(cri, con, default = 0)

Ïù¥Î•òÏïàÍ∞ú

In [53]:
# ÏïàÍ∞ú ÏÉùÏÑ± Ï°∞Í±¥ 2. Ïù¥Î•òÏïàÍ∞ú
# train
cri = [
    (train_knn['ground'].isin(['D', 'E'])) & # Ìï¥ÏïàÍ∞Ä ÏßÄÏó≠
    (train_knn['diff_ts-dew'] <= 2) & # ÏßÄÎ©¥Ïò®ÎèÑÏôÄ Ïù¥Ïä¨Ï†êÏùò Ï∞®Ïù¥Í∞Ä 2Ïù¥Ìïò
    (train_knn['hm'] >= 85) & # ÏäµÎèÑ 85%Ïù¥ÏÉÅ
    (train_knn['ws10_ms'] >= 4) & # ÌíçÏÜç 4m/sÏù¥ÏÉÅ
    (train_knn['month'].isin([3, 4, 5, 6, 7, 8, 9, 10, 11])) # Î¥Ñ  ~ Í∞ÄÏùÑ
]

con = [
    1
]

train_knn['make_irufog'] = np.select(cri, con, default = 0)

In [54]:
# ÏïàÍ∞ú ÏÉùÏÑ± Ï°∞Í±¥ 2. Ïù¥Î•òÏïàÍ∞ú
# test
cri = [
    (test_knn['ground'].isin(['D', 'E'])) & # Ìï¥ÏïàÍ∞Ä ÏßÄÏó≠
    (test_knn['diff_ts-dew'] <= 2) & # ÏßÄÎ©¥Ïò®ÎèÑÏôÄ Ïù¥Ïä¨Ï†êÏùò Ï∞®Ïù¥Í∞Ä 2Ïù¥Ìïò
    (test_knn['hm'] >= 85) & # ÏäµÎèÑ 85%Ïù¥ÏÉÅ
    (test_knn['ws10_ms'] >= 4) & # ÌíçÏÜç 4m/sÏù¥ÏÉÅ
    (test_knn['month'].isin([3, 4, 5, 6, 7, 8, 9, 10, 11])) # Î¥Ñ  ~ Í∞ÄÏùÑ
]

con = [
    1
]

test_knn['make_irufog'] = np.select(cri, con, default = 0)

ÌôúÏäπÏïàÍ∞ú

In [55]:
# ÏïàÍ∞ú ÏÉùÏÑ± Ï°∞Í±¥ 3. ÌôúÏäπÏïàÍ∞ú
# train
cri = [
    (train_knn['ground'].isin(['B', 'C'])) & # ÏÇ∞Í∞Ñ Î∞è ÎèôÌï¥Ïïà
    (train_knn['diff_ts-dew'] <= 2) & # ÏßÄÎ©¥Ïò®ÎèÑÏôÄ Ïù¥Ïä¨Ï†êÏùò Ï∞®Ïù¥Í∞Ä 2Ïù¥Ìïò
    (train_knn['hm'] >= 85) & # ÏäµÎèÑ 85%Ïù¥ÏÉÅ
    (train_knn['ws10_ms'] >= 4) & # ÌíçÏÜç 4Ïù¥ÏÉÅ
    (train_knn['re'] == 0)
]

con = [
    1
]

train_knn['make_mountfog'] = np.select(cri, con, default = 0)

In [56]:
# ÏïàÍ∞ú ÏÉùÏÑ± Ï°∞Í±¥ 3. Î≥µÏÇ¨ÏïàÍ∞ú
# test
cri = [
    (test_knn['ground'].isin(['B', 'C'])) & # ÏÇ∞Í∞Ñ Î∞è ÎèôÌï¥Ïïà
    (test_knn['diff_ts-dew'] <= 2) & # ÏßÄÎ©¥Ïò®ÎèÑÏôÄ Ïù¥Ïä¨Ï†êÏùò Ï∞®Ïù¥Í∞Ä 2Ïù¥Ìïò
    (test_knn['hm'] >= 85) & # ÏäµÎèÑ 85%Ïù¥ÏÉÅ
    (test_knn['ws10_ms'] >= 4) & # ÌíçÏÜç 4Ïù¥ÏÉÅ
    (test_knn['re'] == 0)
]

con = [
    1
]

test_knn['make_mountfog'] = np.select(cri, con, default = 0)

Ï¶ùÎ∞úÏïàÍ∞ú

In [57]:
# ÏïàÍ∞ú ÏÉùÏÑ± Ï°∞Í±¥ 4. Ï¶ùÎ∞úÏïàÍ∞ú
# train
cri = [
    (train_knn['ground'].isin(['A', 'B'])) & # ÏÇ∞Í∞ÑÏßÄÎ∞©
    (train_knn['diff_ts-dew'] <= 2) & # ÏßÄÎ©¥Ïò®ÎèÑÏôÄ Ïù¥Ïä¨Ï†êÏùò Ï∞®Ïù¥Í∞Ä 2Ïù¥Ìïò
    (train_knn['hm'] >= 90) & # ÏäµÎèÑ 85%Ïù¥ÏÉÅ
    (train_knn['ws10_ms'] <= 2.5) & # ÌíçÏÜç 2.5 Ïù¥Ìïò
    (train_knn['re'] == 0) & # ÎÇ†Ïî®Í∞Ä ÌùêÎ¶¨ÏßÄ ÏïäÍ≤å Ï°∞Ï†à
    (train_knn['month'].isin([12, 1, 2, 3]))
]

con = [
    1
]

train_knn['make_gimfog'] = np.select(cri, con, default = 0)

In [58]:
# ÏïàÍ∞ú ÏÉùÏÑ± Ï°∞Í±¥ 4. Ï¶ùÎ∞úÏïàÍ∞ú
# test
cri = [
    (test_knn['ground'].isin(['A', 'B'])) & # ÏÇ∞Í∞ÑÏßÄÎ∞©
    (test_knn['diff_ts-dew'] <= 2) & # ÏßÄÎ©¥Ïò®ÎèÑÏôÄ Ïù¥Ïä¨Ï†êÏùò Ï∞®Ïù¥Í∞Ä 2Ïù¥Ìïò
    (test_knn['hm'] >= 90) & # ÏäµÎèÑ 85%Ïù¥ÏÉÅ
    (test_knn['ws10_ms'] <= 2.5) & # ÌíçÏÜç 2.5 Ïù¥Ìïò
    (test_knn['re'] == 0) & # ÎÇ†Ïî®Í∞Ä ÌùêÎ¶¨ÏßÄ ÏïäÍ≤å Ï°∞Ï†à
    (test_knn['month'].isin([12, 1, 2, 3]))
]

con = [
    1
]

test_knn['make_gimfog'] = np.select(cri, con, default = 0)

ÏßÄÏÜçÏ°∞Í±¥

In [59]:
# ÏïàÍ∞ú ÏßÄÏÜç Ï°∞Í±¥ 
cri = [
    (train_knn['diff_air-dew'] <= 2) & # Í∏∞Ïò®Ïù¥ Ïù¥Ïä¨Ï†êÎ≥¥Îã§ Í∞ôÍ±∞ÎÇò ÎÇÆÍ≤å
    (train_knn['hm'] >= 90) & # ÏäµÎèÑ 90%Ïù¥ÏÉÅ
    (train_knn['ws10_ms'] <= 2) & # ÌíçÏÜç 2 Ïù¥Ìïò
    (train_knn['re'] == 0) & # ÎÇ†Ïî®Í∞Ä ÌùêÎ¶¨ÏßÄ ÏïäÍ≤å Ï°∞Ï†à
    (train_knn['sun10'] <= 0.2) # ÏùºÏÇ¨Îüâ 0.2MJ Ïù¥Ìïò
]

con = [
    1
]

train_knn['retain_fog'] = np.select(cri, con, default = 0)

In [60]:
# ÏïàÍ∞ú ÏßÄÏÜç Ï°∞Í±¥ 
# test
cri = [
    (test_knn['diff_air-dew'] <= 2) & # Í∏∞Ïò®Ïù¥ Ïù¥Ïä¨Ï†êÎ≥¥Îã§ Í∞ôÍ±∞ÎÇò ÎÇÆÍ≤å
    (test_knn['hm'] >= 90) & # ÏäµÎèÑ 90%Ïù¥ÏÉÅ
    (test_knn['ws10_ms'] <= 2) & # ÌíçÏÜç 2 Ïù¥Ìïò
    (test_knn['re'] == 0) & # ÎÇ†Ïî®Í∞Ä ÌùêÎ¶¨ÏßÄ ÏïäÍ≤å Ï°∞Ï†à
    (test_knn['sun10'] <= 0.2) # ÏùºÏÇ¨Îüâ 0.2MJ Ïù¥Ìïò
]

con = [
    1
]

test_knn['retain_fog'] = np.select(cri, con, default = 0)

Í∞ÄÏÜçÏ°∞Í±¥

In [61]:
# ÏïàÍ∞ú Í∞ÄÏÜç Ï°∞Í±¥ 
cri = [
    (train_knn['diff_air-dew'] <= 1) & # Í∏∞Ïò®Ïù¥ Ïù¥Ïä¨Ï†êÎ≥¥Îã§ Í∞ôÍ±∞ÎÇò ÎÇÆÍ≤å
    (train_knn['hm'] >= 95) & # ÏäµÎèÑ 95%Ïù¥ÏÉÅ
    (train_knn['ws10_ms'] <= 1) & # ÌíçÏÜç 1 Ïù¥Ìïò
    (train_knn['sun10'] <= 0.2) # ÏùºÏÇ¨Îüâ 0.2MJ Ïù¥Ìïò
]

con = [
    1
]

train_knn['upclass_fog'] = np.select(cri, con, default = 0)

In [62]:
# ÏïàÍ∞ú Í∞ÄÏÜç Ï°∞Í±¥ 
# test
cri = [
    (test_knn['diff_air-dew'] <= 1) & # Í∏∞Ïò®Ïù¥ Ïù¥Ïä¨Ï†êÎ≥¥Îã§ Í∞ôÍ±∞ÎÇò ÎÇÆÍ≤å
    (test_knn['hm'] >= 95) & # ÏäµÎèÑ 95%Ïù¥ÏÉÅ
    (test_knn['ws10_ms'] <= 1) & # ÌíçÏÜç 1 Ïù¥Ìïò
    (test_knn['sun10'] <= 0.2) # ÏùºÏÇ¨Îüâ 0.2MJ Ïù¥Ìïò
]

con = [
    1
]

test_knn['upclass_fog'] = np.select(cri, con, default = 0)

In [63]:
for c in ['make_copyfog', 'make_irufog',
       'make_mountfog', 'make_gimfog', 'retain_fog', 'upclass_fog']:
    
    display(pd.crosstab(train_knn[c], train_knn['class']))

class            1      2      3        4
make_copyfog
0             6614  10491  10985  3045091
1             1073   1101   1222    79883

class           1      2      3        4
make_irufog
0            7523  11448  11873  3105089
1             164    144    334    19885

class             1      2      3        4
make_mountfog
0              7684  11589  12197  3120483
1                 3      3     10     4491

class           1      2      3        4
make_gimfog
0            6861  10884  11301  3100244
1             826    708    906    24730

class          1     2     3        4
retain_fog
0           2298  3566  6889  2820985
1           5389  8026  5318   303989

class           1     2     3        4
upclass_fog
0            4289  6360  8521  3003306
1            3398  5232  3686   121668

#### 3-5) AWSÏïàÍ∞ú ÏÉùÏÑ± ÏúÑÌóòÍµ∞ Î∂ÑÎ•ò ÏßÄÌëú

- AWSÏóêÏÑú ÏÇ¨Ïö©ÌïòÍ≥† ÏûàÎäî Í∏∞Ï§ÄÏùÑ Í∞ÄÏ†∏ÏôÄ Ïö∞Î¶¨ Îç∞Ïù¥ÌÑ∞Ïóê ÎßûÍ≤å Ï†ÅÏö©ÏãúÏºúÎ≥¥Í≥†Ïûê Ìï®
- Ïã§Ï†úÎ°ú ÏÇ¨Ïö©ÎêòÍ≥† ÏûàÎäî Î∞©Î≤ïÏù∏ ÎßåÌÅº ÌÅ∞ Ìö®Í≥º ÏûàÍ∏∞Î•º Í∏∞ÎåÄÌïòÎ©∞ ÏÉùÏÑ±ÌïòÎäî Î≥ÄÏàò

In [64]:
# ÏïàÍ∞ú ÏúÑÌóòÍµ∞ Î∂ÑÎ•ò ÏßÄÌëú
# train
cri = [
    # 5Îã®Í≥Ñ: high risk
    (train_knn['hm'] >= 97) & (train_knn['ws10_ms'] <= 7) & (train_knn['re'] == 0),

    # 4Îã®Í≥Ñ: middle risk
    (train_knn['hm'] < 97) & (train_knn['hm'] >= 95) & (train_knn['ws10_ms'] <= 7) & (train_knn['re'] == 0),

    # 3Îã®Í≥Ñ: Low risk
    (train_knn['hm'] < 95) & (train_knn['hm'] >= 90) & (train_knn['ws10_ms'] <= 7) & (train_knn['re'] == 0),

    # 2Îã®Í≥Ñ: Risk not estimates
    (train_knn['hm'] >= 90)
]

con = [
    4, 3, 2, 1
]

train_knn['fog_risk'] = np.select(cri, con, default = 0)

In [65]:
# ÏïàÍ∞ú ÏúÑÌóòÍµ∞ Î∂ÑÎ•ò ÏßÄÌëú
# test
cri = [
    # 5Îã®Í≥Ñ: high risk
    (test_knn['hm'] >= 97) & (test_knn['ws10_ms'] <= 7) & (test_knn['re'] == 0),

    # 4Îã®Í≥Ñ: middle risk
    (test_knn['hm'] < 97) & (test_knn['hm'] >= 95) & (test_knn['ws10_ms'] <= 7) & (test_knn['re'] == 0),

    # 3Îã®Í≥Ñ: Low risk
    (test_knn['hm'] < 95) & (test_knn['hm'] >= 90) & (test_knn['ws10_ms'] <= 7) & (test_knn['re'] == 0),

    # 2Îã®Í≥Ñ: Risk not estimates
    (test_knn['hm'] >= 90)
]

con = [
    4, 3, 2, 1
]

test_knn['fog_risk'] = np.select(cri, con, default = 0)

In [66]:
# Ïó∞ÎèÑ ÏõêÏÉÅÌÉúÎ°ú ÎêòÎèåÎ¶¨Í∏∞
cri = [
    train_knn['year'] == 2020,
    train_knn['year'] == 2021,
    train_knn['year'] == 2022,
    train_knn['year'] == '2020.0',
    train_knn['year'] == '2021.0',
    train_knn['year'] == '2022.0',
    train_knn['year'] == 'I',
    train_knn['year'] == 'J',
    train_knn['year'] == 'K',
]

con = [
    'I', 'J', 'K', 'I', 'J', 'K', 'I', 'J', 'K'
]
train_knn['year'] = np.select(cri, con, default = 2022)

In [67]:
# save the data
train_knn.to_csv('../data/train_preprocessed_data.csv', index = False)
test_knn.to_csv('../data/test_preprocessed_data.csv', index = False)