# **ğŸ’ğŸ»ğŸ—¨ï¸ğŸ’ğŸ»â€â™‚ï¸ì•ˆê°œ ì˜ˆì¸¡ EDA code**
> **ì•ˆê°œëŸ‰ ì˜ˆì¸¡** ê²½ì§„ëŒ€íšŒì— ì˜¤ì‹  ì—¬ëŸ¬ë¶„ í™˜ì˜í•©ë‹ˆë‹¤! ğŸ‰    
> ë³¸ ëŒ€íšŒì—ì„œëŠ” ìµœëŒ€ 10ëª…ì´ ì°¸ì—¬í•  ìˆ˜ ìˆëŠ” ê¸°ìƒì²­ ì£¼ê´€ ë‚ ì”¨ ë¹…ë°ì´í„° ê²½ì§„ëŒ€íšŒ ì…ë‹ˆë‹¤.     
> ì£¼ì–´ì§„ ë°ì´í„°ë¥¼ í™œìš©í•˜ì—¬ ì•ˆê°œ ìƒíƒœì˜ êµ¬ê°„ì„ ì˜ˆì¸¡í•  ìˆ˜ ìˆëŠ” ëª¨ë¸ì„ ë§Œë“œëŠ” ê²ƒì´ ëª©í‘œì…ë‹ˆë‹¤!

# Contents  
  
- í•„ìš”í•œ ë¼ì´ë¸ŒëŸ¬ë¦¬ ì„¤ì¹˜  
- ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°  
- ë°ì´í„° ê²°ì¸¡ì¹˜ ì²˜ë¦¬í•˜ê¸°
- íŒŒìƒë³€ìˆ˜ ìƒì„±í•˜ê¸°

### 1. í•„ìš”í•œ ë¼ì´ë¸ŒëŸ¬ë¦¬ ì„¤ì¹˜

- í•„ìš”í•œ ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ ì„¤ì¹˜í•œ í›„ ë¶ˆëŸ¬ì˜µë‹ˆë‹¤.

In [43]:
# basic
import os, random
import pandas as pd
import numpy as np

# graph
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go

# imputator
from sklearn.impute import KNNImputer

# ê²½ê³  ë¬´ì‹œ
import warnings
warnings.filterwarnings('ignore')

# í°íŠ¸
plt.rcParams['font.family'] = 'NanumSquare'

# ë§ˆì´ë„ˆìŠ¤ ì¶œë ¥
matplotlib.rcParams['axes.unicode_minus'] = False

In [44]:
# random seed ê³ ì •í•˜ê¸°
def seed_everything(seed):
    random.seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)

seed_everything(42) # Seed ê³ ì •

### 2. ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
- ì œê³µëœ ë°ì´í„°ë¥¼ ë¶ˆëŸ¬ì˜µë‹ˆë‹¤.

> - year : ë…„ë„
> - month : ì›”
> - day : ì¼
> - hour : ì‹œê°„
> - minute : ë¶„(10ë¶„ ë‹¨ìœ„)
> - stn_id : ì§€ì  ë²ˆí˜¸
> - ws10_deg : 10ë¶„ í‰ê·  í’í–¥, deg
> - ws10_ms : 10ë¶„ í‰ê·  í’ì†, m/s
> - ta : 1ë¶„ í‰ê·  ê¸°ì˜¨ 10ë¶„ ì£¼ê¸°, ì„­ì”¨
> - re : ê°•ìˆ˜ ìœ ë¬´ 0:ë¬´ê°•ìˆ˜, 1:ê°•ìˆ˜
> - hm : 1ë¶„ í‰ê·  ìƒëŒ€ ìŠµë„ 10ë¶„ ì£¼ê¸°, %
> - sun10 : 1ë¶„ ì¼ì‚¬ëŸ‰ 10ë¶„ ë‹¨ìœ„ í•©ê³„, MJ
> - ts : 1ë¶„ í‰ê·  ì§€ë©´ì˜¨ë„ 10ë¶„ ì£¼ê¸°, ì„­ì”¨

- test ì—†ëŠ” ë°ì´í„° ê°’
> - vis1 : 1ë¶„ í‰ê·  ì‹œì • 10ë¶„ ì£¼ê¸°, m
> - class : ì‹œì • êµ¬ê°„

ì‹œì • êµ¬ê°„ì€ ë‹¤ìŒê³¼ ê°™ë‹¤.
- 0ì´ˆê³¼ 200ë¯¸ë§Œ : 1
- 200ì´ìƒ 500ë¯¸ë§Œ : 2
- 500ì´ìƒ 1000ë¯¸ë§Œ : 3
- 1000ì´ìƒ : 4
- 4ë²ˆì€ ë§ì¶°ë„ ìŠ¤ì½”ì–´ê°€ ì¦ê°€í•˜ì§„ ì•Šì§€ë§Œ í‹€ë¦¬ë©´ ê°ì

In [45]:
# load data
train = pd.read_csv('../data/fog_train.csv')
test = pd.read_csv('../data/fog_test.csv')

In [46]:
# ì“¸ë°ì—†ëŠ” ì—´ ì œê±°
train.drop(['Unnamed: 0'], axis = 1, inplace = True)
test.drop(['Unnamed: 0'], axis = 1, inplace = True)

### 3. ë°ì´í„° ê²°ì¸¡ì¹˜ ì²˜ë¦¬í•˜ê¸°

In [47]:
# train ì—†ëŠ” ë‚ ì§œ ì±„ìš°ê¸°
train = train.append([{'fog_train.year':'J',
                'fog_train.month':11, 
                'fog_train.day':3,
                'fog_train.time':18, 
                'fog_train.minute':20,
                'fog_train.stn_id':'EC'}], ignore_index=True, sort=True)

In [48]:
# ê²°ì¸¡ì¹˜ nanìœ¼ë¡œ ë°”ê¾¸ê¸°
train2 = train.replace(-99, np.nan).replace(-99.9, np.nan).replace(-999.0, np.nan)
test2 = test.replace(-99, np.nan).replace(-99.9, np.nan).replace(-999.0, np.nan)

In [49]:
# ë³€ìˆ˜ ì´ë¦„ ì•ì—ìˆëŠ” ì´ìƒí•œê±° ì œê±°í•˜ê¸°
train2.columns = train2.columns.str.replace('fog_train.', '')
test2.columns = test2.columns.str.replace('fog_test.', '')

#### 3-1) ì§€ì—­ì˜ ìœ í˜•ë³„ë¡œ ë‚˜ëˆ„ê¸°

In [50]:
# A:ë‚´ë¥™, B:ë‚´ë¥™ì‚°ê°„, C:ë™í•´, D:ì„œí•´, E:ë‚¨í•´
train2['ground'] = train2['stn_id'].str.slice(0, 1)
test2['ground'] = test2['stn_id'].str.slice(0, 1)

#### 3-2) ì—°ë„ë¥¼ ì í•©í•˜ê¸° ì¢‹ì€ ì—°ë„ë¡œ ë°”ê¿”ì£¼ê¸°
- ê·¸ë˜í”„ë¡œ ê·¸ë ¤ë³´ê¸° í¸í•˜ê²Œ I -> 2020 ~ K -> 2022
- ë¹ ë¥´ê²Œ ë°”ê¾¸ë„ë¡ í•˜ì

In [51]:
# ì‹œê°„
train2['hour'] = train2['time']

# I, J, K -> 2020 ~ 2022
cri = [
    train2['year'] == "I",
    train2['year'] == "J"
]
con = [
    2020,
    2021
]
train2['yeartmp'] = np.select(cri, con, default = 2022)

# year ê°’ ë°”ê¾¸ê¸°
train3 = train2.copy()
train3['year'] = train3['yeartmp']
train3.drop(['yeartmp'], axis = 1, inplace = True)

# ì—°, ì›”, ì¼, ì‹œê°„, ë¶„ì„ í•˜ë‚˜ì˜ datetime ê°ì²´ë¡œ ë³€í™˜í•˜ê³  ë¬¸ìì—´ í˜•ì‹ìœ¼ë¡œ ë³€í™˜
train3['DateTime'] = pd.to_datetime(train3[['year', 'month', 'day', 'hour', 'minute']]).dt.strftime('%Y-%m-%d %H:%M')

#### 3-3) ì´ìƒì¹˜ ëŒ€ì¹˜

- í´ë˜ìŠ¤ê°€ ë¾°ì¡±í•˜ê²Œ 4 -> 1 -> 4 ì™€ ê°™ì´ ë¶„í¬í•˜ê³  ìˆëŠ” ê²ƒë“¤ì´ ëª‡ê°œ ìˆë‹¤.
- ì´ë¥¼ ë³´ì™„í•˜ê¸° ìœ„í•´ ë‹¤ìŒê³¼ ê°™ì€ ê³¼ì •ì„ ì§„í–‰í•œë‹¤.
- ë‹¨, 1000 ì´í•˜ë¥¼ ì¤‘ì‹¬ìœ¼ë¡œ ë§ì¶°ì•¼í•˜ëŠ” ëŒ€íšŒì´ê¸° ë•Œë¬¸ì— classë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì ìš©í•˜ì˜€ë‹¤.

In [52]:
# # ì§€ì—­ë³„ë¡œ ë”°ë¡œë”°ë¡œ ì ìš©í•˜ì.
# for c in train3['stn_id'].unique():

#     # ì§€ì—­ë³„ë¡œ ì˜ë¼ì„œ ì´ìƒì¹˜ -> ê²°ì¸¡ì¹˜ ë§Œë“¤ê¸°
#     train4 = train3[train3['stn_id'] == c]

#     # lag ë§Œë“¤ì–´ì„œ ì§€ë‚œë²ˆ  class í™•ì¸í•˜ê¸°
#     train4['shift_left_class'] = train4['class'].shift(1)

#     # ì´ì „ê³¼ì˜ ì°¨ì´ êµ¬í•˜ê¸°
#     train4['diff_left_class'] = train4['class'] - train4['shift_left_class']

#     # lag ë§Œë“¤ì–´ì„œ ì´ë‹¤ìŒ class í™•ì¸í•˜ê¸°
#     train4['shift_right_class'] = train4['class'].shift(-1)

#     # ì´ë‹¤ìŒê³¼ì˜ ì°¨ì´ êµ¬í•˜ê¸°
#     train4['diff_right_class'] = train4['class'] - train4['shift_right_class']

#     # ì¸ë±ìŠ¤ ë½‘ê¸°
#     idx = train4[(abs(train4['diff_left_class']) >= 2) & (abs(train4['diff_right_class']) >= 2)].index

#     # ë¾°ì¡±í•œ ë°ì´í„° ê²°ì¸¡ì¹˜ë¡œ ì²˜ë¦¬í•˜ê¸°
#     train3['class'].iloc[idx] = np.nan
#     train3['vis1'].iloc[idx] = np.nan

#### 3-4) KNN Imputation

- ì„œë¡œê°„ì˜ ê·¼ì ‘ ì´ì›ƒì„ í†µí•´ ê°’ì„ ìœ ì‚¬í•˜ê²Œ ì±„ì›Œì£¼ëŠ” ë³´ê°„ë²•ì´ë‹¤.
- ë‚´ë¥™, í•´ì•ˆ, ì‚°ê°„ì§€ë°©ì˜ 5ê°€ì§€ ìœ í˜•ì„ í†µí•´ ë¶„í•´í•˜ì—¬ ë”°ë¡œ ì²˜ë¦¬í•´ì£¼ëŠ” ë°©ì‹ì„ ì‚¬ìš©í•œë‹¤.

- ë‹¤ìŒê³¼ ê°™ì€ ë°©ë²•ìœ¼ë¡œ ê²°ì¸¡ì¹˜ë¥¼ ì±„ìš°ë„ë¡ í•˜ì

> 1. vis1ì„ ì œì™¸í•œ trainìœ¼ë¡œ knnimputatorì„ ì ìš©í•œ ë‹¤ìŒ testì— ìœ í˜•ì— ë§ì¶° ê°’ì„ ëŒ€ì¹˜í•œë‹¤.
>    - ì£¼ì˜í• ì  : ì‹œê°„ì— ê´€ë ¨ëœ ë³€ìˆ˜ëŠ” ì œì™¸í•œë‹¤. ê°’ì„ ë°˜ì˜í•¨ìœ¼ë¡œ ì˜¤íˆë ¤ ë°©í•´ë  ìˆ˜ ìˆë‹¤.
> 2. ëŒ€ì¹˜ëœ ê°’ì„ í™œìš©í•˜ì—¬ vis1ì„ ë§Œë“¤ê³  classë¥¼ ì±„ìš´ë‹¤.

In [67]:
# imputate with knnimputer
for c in ['A']: # , 'E', 'B', 'C', 'D'
    
    print(f'The first processing: {c} ground transforming ...')
    # 1. train & test knn imputer
    knnimputer = KNNImputer()

    # train - fit_transform
    print("train transforming ....")
    train3.loc[train3['ground'] == c, ['re', 'sun10', 'ta', 'ts', 'ws10_deg', 'ws10_ms', 'hm']] = knnimputer.fit_transform(train3[train3['ground'] == c][['re', 'sun10', 'ta', 'ts', 'ws10_deg', 'ws10_ms', 'hm']])

    # test - transform
    print("test transforming ....")
    test2.loc[test2['ground'] == c, ['re', 'sun10', 'ta', 'ts', 'ws10_deg', 'ws10_ms', 'hm']] = knnimputer.transform(test2[test2['ground'] == c][['re', 'sun10', 'ta', 'ts', 'ws10_deg', 'ws10_ms', 'hm']])
    
    # 2. vis1 imputater
    visimputer = KNNImputer()

    print(f'The second processing: {c} vis1 transforming ...')
    # only train
    train3.loc[train3['ground'] == c, ['re', 'sun10', 'ta', 'ts', 'ws10_deg', 'ws10_ms', 'hm', 'vis1']] = knnimputer.fit_transform(train3[train3['ground'] == c][['re', 'sun10', 'ta', 'ts', 'ws10_deg', 'ws10_ms', 'hm', 'vis1']])
    print(f'The end of {c} ground imputate. check this train data')

The first processing: A ground transforming ...
train transforming ....
test transforming ....
The second processing: A vis1 transforming ...
The end of A ground imputate. check this train data

In [68]:
train3.isna().sum()

class       22559
day             0
hm              0
minute          0
month           0
re              0
stn_id          0
sun10           0
ta              0
time            0
ts              0
vis1            0
ws10_deg        0
ws10_ms         0
year            0
ground          0
hour            0
DateTime        0
dtype: int64

#### 3-5) class ê³„ì‚°í•˜ê¸°

- vis1ì„ í™œìš©í•˜ë©´ classê°€ ê³„ì‚°ëœë‹¤.
- ì‹¤ì œë¡œ ê¸°ì¤€ì˜ ë²”ìœ„ë¥¼ ë‚˜ëˆŒë•Œ vis1 ë³€ìˆ˜ë¥¼ í™œìš©í•˜ê¸° ë•Œë¬¸ì— ì´ë²ˆì—ë„ ì´ì™€ ê°™ì´ ë°˜ì˜í•´ì¤€ë‹¤.

In [88]:
# vis1ì„ í™œìš©í•˜ì—¬ class ê³„ì‚°í•´ì£¼ê¸°
# ê¸°ì¤€
cri = [
    (train3['class'].isna()) & (0 < train3['vis1']) & (train3['vis1'] < 200),
    (train3['class'].isna()) & (200 <= train3['vis1']) & (train3['vis1'] < 500),
    (train3['class'].isna()) & (500 <= train3['vis1']) & (train3['vis1'] < 1000),
    (train3['class'].isna()) & (1000 <= train3['vis1'])
]

# ë°˜ì˜ê°’
con = [
    1, 2, 3, 4
]

# train
train3['class'] = np.select(cri, con, default = train3['class'])

#### 3-6) í›„ë³´ì • ì²˜ë¦¬
- ê°•ìˆ˜ ì—¬ë¶€, classì™€ ê°™ì€ ë³€ìˆ˜ì˜ ê²½ìš° ì •ìˆ˜ë¡œ ì…ë ¥ë˜ëŠ” ê°’ì„ ë°›ì•„ì•¼ í• ê²ƒì´ë‹¤. ë”°ë¼ì„œ í›„ë³´ì • ì²˜ë¦¬ê°€ ë“¤ì–´ê°€ì•¼ í•˜ëŠ” ë³€ìˆ˜ë¥¼ ì¡°ì ˆí•´ì¤€ë‹¤.
- ë°©í–¥ê³¼ ê°™ì€ ê²½ìš° 0 ~ 360 ì‚¬ì´ë¡œ ì…ë ¥ë˜ê²Œ ë§Œë“¤ì–´ì£¼ì–´ì•¼ í•œë‹¤.

In [130]:
# ê°•ìˆ˜ì—¬ë¶€ ì²˜ë¦¬
train3['re'] = np.where(train3['re'] >= 0.5, 1, 0)
test2['re'] = np.where(test2['re'] >= 0.5, 1, 0)

In [138]:
# í´ë˜ìŠ¤ ë°ì´í„° í˜•íƒœ ë³€í™˜
train3['class'] = train3['class'].astype(int)
# test2['class'] = test2['class'].astype(int)

### 4. íŒŒìƒë³€ìˆ˜ ìƒì„±í•˜ê¸°

#### 4-1) ì´ìŠ¬ì  ì˜¨ë„

- ì•ˆê°œ ìƒê¸°ëŠ” ê¸°ì¤€ì ì„ ë¯¸ë¦¬ ë§Œë“¤ì–´ë‘ì
- ì´ìŠ¬ì ì€ ì§€ë©´ì˜¨ë„ì™€ ê¸°ì˜¨ì„ ê³ ë ¤í–ˆì„ ë•Œ ì•ˆê°œê°€ ìƒì„±ë˜ê²Œ í•˜ëŠ” ê°€ì¥ ì¢‹ì€ ê¸°ì¤€ì ì´ë‹¤.

In [139]:
# hmì´ ì™„ì „ 0ì¸ê²½ìš° 0.00001 ë”í•˜ì
train3['hm'][train3['hm'] == 0.0] = 0.00001
test2['hm'][test2['hm'] == 0.0] = 0.00001

In [140]:
# Magnus ê³µì‹ ìƒìˆ˜
a = 17.27
b = 237.7

# ì•ŒíŒŒ ê°’ ê³„ì‚°
train3['alpha'] = (a * train3['ta']) / (b + train3['ta']) + np.log(train3['hm'] / 100.0)
test2['alpha'] = (a * test2['ta']) / (b + test2['ta']) + np.log(test2['hm'] / 100.0)

# ì´ìŠ¬ì ì˜¨ë„ ê³„ì‚°
train3['dew_point'] = (b * train3['alpha']) / (a - train3['alpha'])
test2['dew_point'] = (b * test2['alpha']) / (a - test2['alpha'])

#### 4-2) ì‹œê°„ì  ì‚¬ì´í´

- ê³„ì ˆì— ë”°ë¥¸ ì°¨ì´ê°€ ì¡´ì¬í•  ìˆ˜ ìˆê¸° ë•Œë¬¸ì— ê³„ì ˆì— ê´€í•œ ì‚¬ì´í´ì„ ë§Œë“¤ì–´ ì£¼ë„ë¡ í•˜ì
- í•˜ë£¨ ë‹¨ìœ„ë¡œ ì˜¨ë„ì˜ ë³€í™”ê°€ ì¡´ì¬í•˜ê¸° ë•Œë¬¸ì— ì´ë¥¼ í•™ìŠµì‹œí‚¤ê¸° ìœ„í•´ í•˜ë£¨ ë‹¨ìœ„ë¥¼ ë³€í™”í•˜ë„ë¡ í•˜ì

In [147]:
# ì‹œê°„ ì‚¬ì´í´ ë³€ìˆ˜
train3['sin_time'] = np.sin(2 * np.pi * train3['time'] / 24)
train3['cos_time'] = np.cos(2 * np.pi * train3['time'] / 24)

test2['sin_time'] = np.sin(2 * np.pi * test2['time'] / 24)
test2['cos_time'] = np.cos(2 * np.pi * test2['time'] / 24)

In [148]:
# ê³„ì ˆ ì‚¬ì´í´ ë³€ìˆ˜ - ì›”ë³„ ì£¼ê¸°
train3['sin_month'] = np.sin(2 * np.pi * train3['month'] / 12)
train3['cos_month'] = np.cos(2 * np.pi * train3['month'] / 12)

test2['sin_month'] = np.sin(2 * np.pi * test2['month'] / 12)
test2['cos_month'] = np.cos(2 * np.pi * test2['month'] / 12)

#### 4-3) ì•ˆê°œ ë°œìƒ ì¡°ê±´

- ë‹¤ìŒ ìƒì„±í•  ë³€ìˆ˜ëŠ” ì„¸ê°€ì§€ ì˜ì—­ìœ¼ë¡œ ë‚˜ëˆ ì„œ í˜•ì„±í•  ê²ƒì´ë‹¤.

> 1. ì•ˆê°œ ìƒì„± ì¡°ê±´: ì§€ì—­ë³„ë¡œ ìƒì„±ë˜ëŠ” ì¡°ê±´ì´ ìƒì´í•˜ê¸° ë•Œë¬¸ì— ì•ˆê°œë³„ë¡œ ì¡°ê±´ì„ ë‹¬ë¦¬í•˜ì—¬ ì ìš©í•  ê²ƒì´ë‹¤.
> 2. ì•ˆê°œ ì§€ì† ì¡°ê±´: ì–¼ë§ˆë‚˜ ì§€ì†ë ì§€, ì–¸ì œê¹Œì§€ ì§€ì†ë˜ëŠ” ì¡°ê±´ì¸ì§€ì— ë”°ë¼ ê³„ì†í•´ì„œ ë°œìƒí•˜ê³  ìˆì„ ìˆ˜ ìˆê¸° ë•Œë¬¸ì— ì ìš©í•œë‹¤. ì¡°ê±´ì´ ê°™ê¸° ë•Œë¬¸ì— í†µì¼ëœ ë³€ìˆ˜ë¡œ ì œì‘í•œë‹¤.
> 3. ì•ˆê°œ ì§™ì–´ì§ ì¡°ê±´: ë§ˆì°¬ê°€ì§€ë¡œ ì¡°ê±´ì€ ê±°ì˜ ë™ì¼í•˜ë‹¤ ë³´ë©´ ëœë‹¤. 

- ì•ˆê°œ ì¢…ë¥˜ì— ë”°ë¥¸ ì§€í˜•
    - ë³µì‚¬: Aë‚´ë¥™, Bì‚°ê°„
    - ì´ë¥˜: Cë™í•´, Dì„œí•´, Eë‚¨í•´
    - ì—°ì•ˆ: Dì„œí•´
    - ì „ì„ : Cë™í•´
    - í•´ë¬´: Eë‚¨í•´
    - í™œìŠ¹: Bì‚°ê°„
    - ê¹€: Bì‚°ê°„

In [151]:
# ì˜¨ë„ì¡°ê±´ ë¯¸ë¦¬ ê³„ì‚°í•˜ê¸°
train3['diff_air-dew'] = train3['ta'] - train3['dew_point']
train3['diff_ts-dew'] = train3['ts'] - train3['dew_point']

test2['diff_air-dew'] = test2['ta'] - test2['dew_point']
test2['diff_ts-dew'] = test2['ts'] - test2['dew_point']

ë³µì‚¬ì•ˆê°œ

In [156]:
# ì•ˆê°œ ìƒì„± ì¡°ê±´ 1. ë³µì‚¬ì•ˆê°œ
# train
cri = [
    (train3['ground'].isin(['A', 'B'])) & # ë‚´ë¥™ì‚°ê°„ì§€ë°©
    (train3['diff_ts-dew'] <= 0) & # ì§€ë©´ì˜¨ë„ê°€ ì´ìŠ¬ì ë³´ë‹¤ ê°™ê±°ë‚˜ ë‚®ì€ê³³
    (train3['hm'] >= 85) & # ìŠµë„ 85% ì´ìƒ
    (train3['ws10_ms'] <= 2) & # í’ì† 2m/s ì´í•˜
    (train3['re'] == 0) & # ê°•ìˆ˜ ì—†ìŒ
    (train3['sun10'] == 0) # ì¼ì‚¬ ì—†ìŒ
]

con = [
    1
]

train3['make_copyfog'] = np.select(cri, con, default = 0)

In [157]:
# ì•ˆê°œ ìƒì„± ì¡°ê±´ 1. ë³µì‚¬ì•ˆê°œ
# test
cri = [
    (test2['ground'].isin(['A', 'B'])) & # ë‚´ë¥™ì‚°ê°„ì§€ë°©
    (test2['diff_ts-dew'] <= 0) & # ì§€ë©´ì˜¨ë„ê°€ ì´ìŠ¬ì ë³´ë‹¤ ê°™ê±°ë‚˜ ë‚®ì€ê³³
    (test2['hm'] >= 85) & # ìŠµë„ 85% ì´ìƒ
    (test2['ws10_ms'] <= 2) & # í’ì† 2m/s ì´í•˜
    (test2['re'] == 0) & # ê°•ìˆ˜ ì—†ìŒ
    (test2['sun10'] == 0) # ì¼ì‚¬ ì—†ìŒ
]

con = [
    1
]

test2['make_copyfog'] = np.select(cri, con, default = 0)

ì´ë¥˜ì•ˆê°œ

In [158]:
# ì•ˆê°œ ìƒì„± ì¡°ê±´ 2. ì´ë¥˜ì•ˆê°œ
# train
cri = [
    (train3['ground'].isin(['C', 'D', 'E'])) & # í•´ì•ˆê°€ ì§€ì—­
    (train3['diff_ts-dew'] <= 0) & # ì§€í‘œë©´ì´ ì´ìŠ¬ì ê³¼ ê°™ê±°ë‚˜ ì•„ë˜
    (train3['hm'] >= 85) & # ìŠµë„ 85%ì´ìƒ
    (train3['ws10_ms'] >= 2) & # í’ì† 2m/sì´ìƒ
    (train3['ws10_ms'] <= 15) # í’ì† 15m/s ì´í•˜
]

con = [
    1
]

train3['make_irufog'] = np.select(cri, con, default = 0)

In [159]:
# ì•ˆê°œ ìƒì„± ì¡°ê±´ 2. ì´ë¥˜ì•ˆê°œ
# test
cri = [
    (test2['ground'].isin(['C', 'D', 'E'])) & # í•´ì•ˆê°€ ì§€ì—­
    (test2['diff_ts-dew'] <= 0) & # ì§€í‘œë©´ì´ ì´ìŠ¬ì ê³¼ ê°™ê±°ë‚˜ ì•„ë˜
    (test2['hm'] >= 85) & # ìŠµë„ 85%ì´ìƒ
    (test2['ws10_ms'] >= 2) & # í’ì† 2m/sì´ìƒ
    (test2['ws10_ms'] <= 15) # í’ì† 15m/s ì´í•˜
]

con = [
    1
]

test2['make_irufog'] = np.select(cri, con, default = 0)

ì—°ì•ˆì•ˆê°œ

In [160]:
# ì•ˆê°œ ìƒì„± ì¡°ê±´ 3. ì—°ì•ˆì•ˆê°œ
# train
cri = [
    (train3['ground'] == 'D') & # ì„œí•´ì•ˆ
    (train3['diff_ts-dew'] <= 0) & # ì§€ë©´ì´ ì´ìŠ¬ì ë³´ë‹¤ ê°™ê±°ë‚˜ ë‚®ê²Œ
    (train3['hm'] >= 85) & # ìŠµë„ 85%ì´ìƒ
    (train3['ws10_ms'] >= 2) & # í’ì† 2 ~ 10
    (train3['ws10_ms'] <= 10) & 
    (train3['ws10_deg'] >= 45) & # ë°©í–¥ ì„œ -> ë™
    (train3['ws10_deg'] <= 135) & 
    (train3['re'] == 0) # ë‚ ì”¨ê°€ íë¦¬ì§€ ì•Šê²Œ ì¡°ì ˆ
]

con = [
    1
]

train3['make_westfog'] = np.select(cri, con, default = 0)

In [161]:
# ì•ˆê°œ ìƒì„± ì¡°ê±´ 3. ì—°ì•ˆì•ˆê°œ
# test
cri = [
    (test2['ground'] == 'D') & 
    (test2['diff_ts-dew'] <= 0) & 
    (test2['hm'] >= 85) & 
    (test2['ws10_ms'] >= 2) & 
    (test2['ws10_ms'] <= 10) & 
    (test2['ws10_deg'] >= 45) & 
    (test2['ws10_deg'] <= 135) & 
    (test2['re'] == 0)
]

con = [
    1
]

test2['make_westfog'] = np.select(cri, con, default = 0)

ì „ì„ ì•ˆê°œ

In [162]:
# ì•ˆê°œ ìƒì„± ì¡°ê±´ 4. ì „ì„ ì•ˆê°œ
# train
cri = [
    (train3['ground'] == 'C') & # ë™í•´ì•ˆ
    (train3['diff_ts-dew'] <= 0) & # ì§€ë©´ì´ ì´ìŠ¬ì ë³´ë‹¤ ê°™ê±°ë‚˜ ë‚®ê²Œ
    (train3['hm'] >= 85) & # ìŠµë„ 85%ì´ìƒ
    (train3['ws10_ms'] >= 2) & # í’ì† 2 ~ 15
    (train3['ws10_ms'] <= 15) & 
    (train3['ws10_deg'] >= 225) & # ë°©í–¥ ë™ -> ì„œ
    (train3['ws10_deg'] <= 315) & 
    (train3['re'] == 1) # ë‚ ì”¨ê°€ êµ¬ë¦„ì´ ë§ìŒ
]

con = [
    1
]

train3['make_eastfog'] = np.select(cri, con, default = 0)

In [163]:
# ì•ˆê°œ ìƒì„± ì¡°ê±´ 4. ì „ì„ ì•ˆê°œ
# test
cri = [
    (test2['ground'] == 'C') & # ë™í•´ì•ˆ
    (test2['diff_ts-dew'] <= 0) & # ì§€ë©´ì´ ì´ìŠ¬ì ë³´ë‹¤ ê°™ê±°ë‚˜ ë‚®ê²Œ
    (test2['hm'] >= 85) & # ìŠµë„ 85%ì´ìƒ
    (test2['ws10_ms'] >= 2) & # í’ì† 2 ~ 15
    (test2['ws10_ms'] <= 15) & 
    (test2['ws10_deg'] >= 225) & # ë°©í–¥ ë™ -> ì„œ
    (test2['ws10_deg'] <= 315) & 
    (test2['re'] == 1) # ë‚ ì”¨ê°€ êµ¬ë¦„ì´ ë§ìŒ
]

con = [
    1
]

test2['make_eastfog'] = np.select(cri, con, default = 0)

í•´ë¬´ì•ˆê°œ

In [164]:
# ì•ˆê°œ ìƒì„± ì¡°ê±´ 5. í•´ë¬´ì•ˆê°œ
# train
cri = [
    (train3['ground'] == 'E') & # ë‚¨í•´ì•ˆ
    (train3['diff_ts-dew'] <= 0) & # ì§€ë©´ì´ ì´ìŠ¬ì ë³´ë‹¤ ê°™ê±°ë‚˜ ë‚®ê²Œ
    (train3['hm'] >= 85) & # ìŠµë„ 85%ì´ìƒ
    (train3['ws10_ms'] >= 2) & # í’ì† 2 ~ 15
    (train3['ws10_ms'] <= 15) & 
    ((train3['ws10_deg'] >= 315) | # ë°©í–¥ ë™ -> ì„œ
    (train3['ws10_deg'] <= 45)) & 
    (train3['re'] == 0) # ë‚ ì”¨ê°€ íë¦¬ì§€ ì•Šê²Œ ì¡°ì ˆ
]

con = [
    1
]

train3['make_southfog'] = np.select(cri, con, default = 0)

In [165]:
# ì•ˆê°œ ìƒì„± ì¡°ê±´ 5. í•´ë¬´ì•ˆê°œ
# test
cri = [
    (test2['ground'] == 'E') & # ë‚¨í•´ì•ˆ
    (test2['diff_ts-dew'] <= 0) & # ì§€ë©´ì´ ì´ìŠ¬ì ë³´ë‹¤ ê°™ê±°ë‚˜ ë‚®ê²Œ
    (test2['hm'] >= 85) & # ìŠµë„ 85%ì´ìƒ
    (test2['ws10_ms'] >= 2) & # í’ì† 2 ~ 15
    (test2['ws10_ms'] <= 15) & 
    ((test2['ws10_deg'] >= 315) | # ë°©í–¥ ë™ -> ì„œ
    (test2['ws10_deg'] <= 45)) & 
    (test2['re'] == 0) # ë‚ ì”¨ê°€ íë¦¬ì§€ ì•Šê²Œ ì¡°ì ˆ
]

con = [
    1
]

test2['make_southfog'] = np.select(cri, con, default = 0)

í™œìŠ¹ì•ˆê°œ

In [166]:
# ì•ˆê°œ ìƒì„± ì¡°ê±´ 6. í™œìŠ¹ì•ˆê°œ
# train
cri = [
    (train3['ground'] == 'B') & # ì‚°ê°„ì§€ë°©
    (train3['diff_ts-dew'] <= 0) & # ì§€ë©´ì´ ì´ìŠ¬ì ë³´ë‹¤ ê°™ê±°ë‚˜ ë‚®ê²Œ
    (train3['hm'] >= 85) & # ìŠµë„ 85%ì´ìƒ
    (train3['ws10_ms'] >= 2) & # í’ì† 2 ~ 10
    (train3['ws10_ms'] <= 10)
]

con = [
    1
]

train3['make_mountfog'] = np.select(cri, con, default = 0)

In [167]:
# ì•ˆê°œ ìƒì„± ì¡°ê±´ 1. ë³µì‚¬ì•ˆê°œ
# test
cri = [
    (test2['ground'] == 'B') & # ì‚°ê°„ì§€ë°©
    (test2['diff_ts-dew'] <= 0) & # ì§€ë©´ì´ ì´ìŠ¬ì ë³´ë‹¤ ê°™ê±°ë‚˜ ë‚®ê²Œ
    (test2['hm'] >= 85) & # ìŠµë„ 85%ì´ìƒ
    (test2['ws10_ms'] >= 2) & # í’ì† 2 ~ 10
    (test2['ws10_ms'] <= 10)
]

con = [
    1
]

test2['make_mountfog'] = np.select(cri, con, default = 0)

ê¹€ì•ˆê°œ

In [168]:
# ì•ˆê°œ ìƒì„± ì¡°ê±´ 7. ê¹€ì•ˆê°œ
# train
cri = [
    (train3['ground'] == 'B') & # ì‚°ê°„ì§€ë°©
    (train3['diff_ts-dew'] <= 0) & # ì§€ë©´ì´ ì´ìŠ¬ì ë³´ë‹¤ ê°™ê±°ë‚˜ ë‚®ê²Œ
    (train3['hm'] >= 85) & # ìŠµë„ 85%ì´ìƒ
    (train3['ws10_ms'] <= 2) & # í’ì† 2 ì´í•˜
    (train3['re'] == 0) # ë‚ ì”¨ê°€ íë¦¬ì§€ ì•Šê²Œ ì¡°ì ˆ
]

con = [
    1
]

train3['make_gimfog'] = np.select(cri, con, default = 0)

In [169]:
# ì•ˆê°œ ìƒì„± ì¡°ê±´ 7. ê¹€ì•ˆê°œ
# test
cri = [
    (test2['ground'] == 'B') & # ì‚°ê°„ì§€ë°©
    (test2['diff_ts-dew'] <= 0) & # ì§€ë©´ì´ ì´ìŠ¬ì ë³´ë‹¤ ê°™ê±°ë‚˜ ë‚®ê²Œ
    (test2['hm'] >= 85) & # ìŠµë„ 85%ì´ìƒ
    (test2['ws10_ms'] <= 2) & # í’ì† 2 ì´í•˜
    (test2['re'] == 0) # ë‚ ì”¨ê°€ íë¦¬ì§€ ì•Šê²Œ ì¡°ì ˆ
]

con = [
    1
]

test2['make_gimfog'] = np.select(cri, con, default = 0)

ì§€ì†ì¡°ê±´

In [170]:
# ì•ˆê°œ ì§€ì† ì¡°ê±´ 
cri = [
    (train3['diff_air-dew'] <= 2) & # ê¸°ì˜¨ì´ ì´ìŠ¬ì ë³´ë‹¤ ê°™ê±°ë‚˜ ë‚®ê²Œ
    (train3['hm'] >= 90) & # ìŠµë„ 90%ì´ìƒ
    (train3['ws10_ms'] <= 2) & # í’ì† 2 ì´í•˜
    (train3['re'] == 0) & # ë‚ ì”¨ê°€ íë¦¬ì§€ ì•Šê²Œ ì¡°ì ˆ
    (train3['sun10'] <= 0.2) # ì¼ì‚¬ëŸ‰ 0.2MJ ì´í•˜
]

con = [
    1
]

train3['retain_fog'] = np.select(cri, con, default = 0)

In [171]:
# ì•ˆê°œ ì§€ì† ì¡°ê±´ 
# test
cri = [
    (test2['diff_air-dew'] <= 2) & # ê¸°ì˜¨ì´ ì´ìŠ¬ì ë³´ë‹¤ ê°™ê±°ë‚˜ ë‚®ê²Œ
    (test2['hm'] >= 90) & # ìŠµë„ 90%ì´ìƒ
    (test2['ws10_ms'] <= 2) & # í’ì† 2 ì´í•˜
    (test2['re'] == 0) & # ë‚ ì”¨ê°€ íë¦¬ì§€ ì•Šê²Œ ì¡°ì ˆ
    (test2['sun10'] <= 0.2) # ì¼ì‚¬ëŸ‰ 0.2MJ ì´í•˜
]

con = [
    1
]

test2['retain_fog'] = np.select(cri, con, default = 0)

ê°€ì†ì¡°ê±´

In [172]:
# ì•ˆê°œ ê°€ì† ì¡°ê±´ 
cri = [
    (train3['diff_air-dew'] <= 1) & # ê¸°ì˜¨ì´ ì´ìŠ¬ì ë³´ë‹¤ ê°™ê±°ë‚˜ ë‚®ê²Œ
    (train3['hm'] >= 95) & # ìŠµë„ 95%ì´ìƒ
    (train3['ws10_ms'] <= 1) & # í’ì† 1 ì´í•˜
    (train3['sun10'] <= 0.2) # ì¼ì‚¬ëŸ‰ 0.2MJ ì´í•˜
]

con = [
    1
]

train3['upclass_fog'] = np.select(cri, con, default = 0)

In [173]:
# ì•ˆê°œ ê°€ì† ì¡°ê±´ 
# test
cri = [
    (test2['diff_air-dew'] <= 1) & # ê¸°ì˜¨ì´ ì´ìŠ¬ì ë³´ë‹¤ ê°™ê±°ë‚˜ ë‚®ê²Œ
    (test2['hm'] >= 95) & # ìŠµë„ 95%ì´ìƒ
    (test2['ws10_ms'] <= 1) & # í’ì† 1 ì´í•˜
    (test2['sun10'] <= 0.2) # ì¼ì‚¬ëŸ‰ 0.2MJ ì´í•˜
]

con = [
    1
]

test2['upclass_fog'] = np.select(cri, con, default = 0)

In [175]:
# save the data
train3.to_csv('../data/train_make_columns.csv', index = False)
test2.to_csv('../data/test_make_columns.csv', index = False)

In [176]:
train3.columns

Index(['class', 'day', 'hm', 'minute', 'month', 're', 'stn_id', 'sun10', 'ta',
       'time', 'ts', 'vis1', 'ws10_deg', 'ws10_ms', 'year', 'ground', 'hour',
       'DateTime', 'alpha', 'dew_point', 'sin_time', 'cos_time', 'sin_month',
       'cos_month', 'diff_air-dew', 'diff_ts-dew', 'make_copyfog',
       'make_irufog', 'make_westfog', 'make_eastfog', 'make_southfog',
       'make_mountfog', 'make_gimfog', 'retain_fog', 'upclass_fog'],
      dtype='object')

In [180]:
for c in ['make_copyfog', 'make_irufog', 'make_westfog', 'make_eastfog', 'make_southfog',
       'make_mountfog', 'make_gimfog', 'retain_fog', 'upclass_fog', 'class']:
    
    display(pd.crosstab(train3[c], train3['class']))

class            1      2      3        4
make_copyfog
0             7584  11810  11661  3097184
1              264    261    528    27168

class           1      2      3        4
make_irufog
0            7754  11965  11899  3115501
1              94    106    290     8851

class            1      2      3        4
make_westfog
0             7848  12066  12173  3124043
1                0      5     16      309

class            1      2      3        4
make_eastfog
0             7848  12070  12183  3124303
1                0      1      6       49

class             1      2      3        4
make_southfog
0              7848  12071  12188  3124216
1                 0      0      1      136

class             1      2      3        4
make_mountfog
0              7826  12038  12090  3121353
1                22     33     99     2999

class           1      2      3        4
make_gimfog
0            7791  11956  11973  3115651
1              57    115    216     8701

class          1     2     3        4
retain_fog
0           2430  3961  6884  2820463
1           5418  8110  5305   303889

class           1     2     3        4
upclass_fog
0            4436  6758  8511  3002771
1            3412  5313  3678   121581

class     1      2      3        4
class
1      7848      0      0        0
2         0  12071      0        0
3         0      0  12189        0
4         0      0      0  3124352

### ì˜¤ëŠ˜ì˜ ê²°ë¡ 
- í• ë£¨ì‹œë„¤ì´ì…˜ ì œëŒ€ë¡œ ë‹¹í–ˆë‹¤ .... ë‹¤ì‹œ ì°¾ì